In [1]:
!jupyter nbextension enable --py gmaps

Enabling notebook extension jupyter-gmaps/extension...
      - Validating: ok

In [2]:
import pandas as pd
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect
from config import gkey
import gmaps
import gmaps.geojson_geometries
gmaps.configure(api_key= gkey)

In [3]:
rds_connection_string = "postgres:postgres@localhost:5432/COVID_df"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [4]:
happy_df = pd.read_sql_query('select * from happiness_table', con=engine)

In [5]:
happy_df.head()

,country,ranking,score,social_support,freedom_index,corruption_index
0,Finland,1,7.769,1.587,0.596,0.393
1,Denmark,2,7.600,1.573,0.592,0.410
2,Norway,3,7.554,1.582,0.603,0.341
3,Iceland,4,7.494,1.624,0.591,0.118
4,Netherlands,5,7.488,1.522,0.557,0.298

In [6]:
covid_df = pd.read_sql_query('select * from covid_cases', con=engine)

In [7]:
covid_df.head()

  country_region   population  totalcases  totaldeaths  totaltests
0            USA  330854064.0   1881205.0     108059.0  18603174.0
1         Brazil  212442762.0    558237.0      31309.0    930013.0
2         Russia  145929848.0    423741.0       5037.0  11151622.0
3          Spain   46753443.0    287012.0      27127.0   4063843.0
4             UK   67858826.0    277985.0      39369.0   4615146.0

In [8]:
country_df = pd.read_sql_query('select * from countrycode_table', con=engine)

In [9]:
country_df.head()

,country_code,country,continent,subregion,continent_code,subregion_code
0,4,Afghanistan,Asia,Southern Asia,142.0,34.0
1,248,Ã…land Islands,Europe,Northern Europe,150.0,154.0
2,8,Albania,Europe,Southern Europe,150.0,39.0
3,12,Algeria,Africa,Northern Africa,2.0,15.0
4,16,American Samoa,Oceania,Polynesia,9.0,61.0

In [10]:
merged_df = pd.merge(happy_df, covid_df, how='inner', left_on='country', right_on='country_region')

In [11]:
merged_df.head()

,country,ranking,score,social_support,freedom_index,corruption_index,country_region,population,totalcases,totaldeaths,totaltests
0,Finland,1,7.769,1.587,0.596,0.393,Finland,5540080.0,6887.0,320.0,190800.0
1,Denmark,2,7.600,1.573,0.592,0.410,Denmark,5790665.0,11734.0,580.0,646086.0
2,Norway,3,7.554,1.582,0.603,0.341,Norway,5417952.0,8455.0,237.0,250968.0
3,Iceland,4,7.494,1.624,0.591,0.118,Iceland,341073.0,1806.0,10.0,61156.0
4,Netherlands,5,7.488,1.522,0.557,0.298,Netherlands,17132042.0,46647.0,5967.0,359833.0

In [12]:
merged2_df = pd.merge(merged_df, country_df, how='inner', left_on='country', right_on='country')

In [13]:
merged2_df.head()

,country,ranking,score,social_support,freedom_index,corruption_index,country_region,population,totalcases,totaldeaths,totaltests,country_code,continent,subregion,continent_code,subregion_code
0,Finland,1,7.769,1.587,0.596,0.393,Finland,5540080.0,6887.0,320.0,190800.0,246,Europe,Northern Europe,150.0,154.0
1,Denmark,2,7.600,1.573,0.592,0.410,Denmark,5790665.0,11734.0,580.0,646086.0,208,Europe,Northern Europe,150.0,154.0
2,Norway,3,7.554,1.582,0.603,0.341,Norway,5417952.0,8455.0,237.0,250968.0,578,Europe,Northern Europe,150.0,154.0
3,Iceland,4,7.494,1.624,0.591,0.118,Iceland,341073.0,1806.0,10.0,61156.0,352,Europe,Northern Europe,150.0,154.0
4,Netherlands,5,7.488,1.522,0.557,0.298,Netherlands,17132042.0,46647.0,5967.0,359833.0,528,Europe,Western Europe,150.0,155.0

In [14]:
for index, row in merged2_df.iterrows():
    case_data = row["totalcases"]
    population_data = row["population"]
    test_data = row["totaltests"]
    death_data=row["totaldeaths"]
    merged2_df.loc[index, "case_per_population(*10000)"] = round(case_data/population_data*10000,4)
    merged2_df.loc[index,"case_per_test(*10000)"]=round(case_data/test_data*10000,4)
    merged2_df.loc[index,"death_per_case(*100)"]=round(death_data/case_data*100,2)  
merged2_df.head()

,country,ranking,score,social_support,freedom_index,corruption_index,country_region,population,totalcases,totaldeaths,totaltests,country_code,continent,subregion,continent_code,subregion_code,case_per_population(*10000),case_per_test(*10000),death_per_case(*100)
0,Finland,1,7.769,1.587,0.596,0.393,Finland,5540080.0,6887.0,320.0,190800.0,246,Europe,Northern Europe,150.0,154.0,12.4312,360.9539,4.65
1,Denmark,2,7.600,1.573,0.592,0.410,Denmark,5790665.0,11734.0,580.0,646086.0,208,Europe,Northern Europe,150.0,154.0,20.2636,181.6167,4.94
2,Norway,3,7.554,1.582,0.603,0.341,Norway,5417952.0,8455.0,237.0,250968.0,578,Europe,Northern Europe,150.0,154.0,15.6055,336.8955,2.80
3,Iceland,4,7.494,1.624,0.591,0.118,Iceland,341073.0,1806.0,10.0,61156.0,352,Europe,Northern Europe,150.0,154.0,52.9505,295.3104,0.55
4,Netherlands,5,7.488,1.522,0.557,0.298,Netherlands,17132042.0,46647.0,5967.0,359833.0,528,Europe,Western Europe,150.0,155.0,27.2279,1296.3514,12.79

In [15]:
merged2_df["country"]

0          Finland
1          Denmark
2           Norway
3          Iceland
4      Netherlands
          ...
132          Yemen
133         Rwanda
134       Tanzania
135    Afghanistan
136    South Sudan
Name: country, Length: 137, dtype: object

In [19]:
countries = list(merged2_df["country"])

In [20]:
countries

['Finland',
 'Denmark',
 'Norway',
 'Iceland',
 'Netherlands',
 'Switzerland',
 'Sweden',
 'New Zealand',
 'Canada',
 'Austria',
 'Australia',
 'Costa Rica',
 'Israel',
 'Luxembourg',
 'Ireland',
 'Germany',
 'Belgium',
 'Malta',
 'Mexico',
 'France',
 'Taiwan',
 'Chile',
 'Guatemala',
 'Saudi Arabia',
 'Qatar',
 'Spain',
 'Panama',
 'Brazil',
 'Uruguay',
 'Singapore',
 'El Salvador',
 'Italy',
 'Bahrain',
 'Slovakia',
 'Poland',
 'Uzbekistan',
 'Lithuania',
 'Colombia',
 'Slovenia',
 'Nicaragua',
 'Argentina',
 'Romania',
 'Cyprus',
 'Ecuador',
 'Kuwait',
 'Thailand',
 'Latvia',
 'Estonia',
 'Jamaica',
 'Mauritius',
 'Japan',
 'Honduras',
 'Kazakhstan',
 'Bolivia',
 'Hungary',
 'Paraguay',
 'Peru',
 'Portugal',
 'Pakistan',
 'Russia',
 'Philippines',
 'Serbia',
 'Moldova',
 'Libya',
 'Montenegro',
 'Tajikistan',
 'Croatia',
 'Hong Kong',
 'Dominican Republic',
 'Turkey',
 'Malaysia',
 'Belarus',
 'Greece',
 'Mongolia',
 'Nigeria',
 'Kyrgyzstan',
 'Algeria',
 'Morocco',
 'Azerbaijan',
 'Lebanon',
 'Indonesia',
 'Vietnam',
 'Bhutan',
 'Cameroon',
 'Bulgaria',
 'Ghana',
 'Nepal',
 'Jordan',
 'Benin',
 'Gabon',
 'Laos',
 'South Africa',
 'Albania',
 'Venezuela',
 'Cambodia',
 'Senegal',
 'Somalia',
 'Namibia',
 'Niger',
 'Burkina Faso',
 'Armenia',
 'Iran',
 'Guinea',
 'Georgia',
 'Gambia',
 'Kenya',
 'Mauritania',
 'Mozambique',
 'Tunisia',
 'Bangladesh',
 'Iraq',
 'Mali',
 'Sierra Leone',
 'Sri Lanka',
 'Myanmar',
 'Chad',
 'Ukraine',
 'Ethiopia',
 'Uganda',
 'Egypt',
 'Zambia',
 'Togo',
 'India',
 'Liberia',
 'Comoros',
 'Madagascar',
 'Burundi',
 'Zimbabwe',
 'Haiti',
 'Botswana',
 'Syria',
 'Malawi',
 'Yemen',
 'Rwanda',
 'Tanzania',
 'Afghanistan',
 'South Sudan']

### Add GeoJSON layer

In [21]:
figure_layout = {
    'width': '800px',
    'height': '600px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}

In [22]:
fig = gmaps.figure(layout=figure_layout)

In [24]:
countries_geojson = gmaps.geojson_geometries.load_geometry('countries')

In [25]:
print(countries_geojson["features"][0]["properties"]['name'])

Afghanistan

In [26]:
gini_layer = gmaps.geojson_layer(countries_geojson)

In [27]:
fig.add_layer(gini_layer)

In [28]:
fig

Figure(layout=FigureLayout(border='1px solid black', height='600px', margin='0 auto 0 auto', padding='1px', wiâ€¦

In [ ]:
figure_layout = {
    'width': '600px',
    'height': '300px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}

In [ ]:
print(len(countries_geojson['features']))

In [ ]:
print(countries_geojson['features'][0])

In [ ]:
import gmaps.datasets

In [ ]:
rows = gmaps.datasets.load_dataset('gini')

In [ ]:
print(rows)

In [ ]:
country2gini=dict(rows)

In [ ]:
country2gini

In [ ]:
from matplotlib.cm import viridis
from matplotlib.colors import to_hex

In [ ]:
min_gini = min(country2gini.values())
max_gini = max(country2gini.values())
gini_range = max_gini - min_gini

In [ ]:
def calculate_color(gini):
    """
    Convert the GINI coefficient to a color
    """
    # make gini a number between 0 and 1
    normalized_gini = (gini - min_gini) / gini_range

    # invert gini so that high inequality gives dark color
    inverse_gini = 1.0 - normalized_gini

    # transform the gini coefficient to a matplotlib color
    mpl_color = viridis(inverse_gini)

    # transform from a matplotlib color to a valid CSS color
    gmaps_color = to_hex(mpl_color, keep_alpha=False)

    return gmaps_color

In [ ]:
colors=[]
for feature in countries_geojson['features']:
    country_name = feature['properties']['name']
    try:
        gini = country2gini[country_name]
        color = calculate_color(gini)
    except KeyError:
        # no GINI for that country: return default color
        color = (0, 0, 0, 0.3)
    colors.append(color)

In [ ]:
fig = gmaps.figure()
gini_layer = gmaps.geojson_layer(
    countries_geojson,
    fill_color=colors,
    stroke_color=colors,
    fill_opacity=0.8)
fig.add_layer(gini_layer)
fig